.e--glass {
  border: 1px solid rgba(255, 255, 255, 0.1);
  // border-radius: 15px;
  backdrop-filter: blur(1px) drop-shadow(2px 2px 20px black);
  background: radial-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
}
