.container {
  border: 3px solid blue;

  &__timer {
    border: 3px solid red;
  }

  &__item {
    border: 3px solid purple;

    h1 {
      border: 2px solid green;
    }

    span {
      border: 3px solid orange;
    }
  }

  &__seperator {
    border: 3px solid red;
  }
}
