@import 'base.scss';

html {
  font-family: 'Iceland', cursive;
}

body {
  min-width: 375px;
  background: $body-bg-color url($background-url) repeat;
}

.container {
  min-height: 100vh;

  &__timer {
    padding: 100px;
    box-shadow: 0px 0px 8px 1px rgb(106, 133, 168);
  }

  &__item {
    @extend .u--center-flex;

    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0.1px $timer-bg-color;

    border: 3px solid $timer-bg-color;

    span {
      font-size: 32px;
      text-align: center;
      letter-spacing: 1px;
      background-color: $timer-bg-color;
      color: white;
      width: 100%;
      padding: 8px 0px;
    }

    h1 {
      @extend .u--center-flex;

      font-size: 120px;
      line-height: 0.6;
      margin: 0;
      padding: 20px 40px;
      width: fit-content;

      background: white;
      text-shadow: 0px 0px 2px grey;
    }
  }

  &__seperator {
    font-size: 100px;
    font-weight: 800;
    line-height: 0.92;

    margin: 0px 5px;
    margin-top: 17px;
  }
}

@media (max-width: $breakpoint-lg) {
  .container {
    &__timer {
      padding: 80px;
    }

    &__item {
      border-width: 2px;

      span {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0.8px;
        padding: 5px 0px;
      }

      h1 {
        font-size: 90px;
        padding: 15px 30px;
      }
    }

    &__seperator {
      font-size: 80px;
      margin-top: 22px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    &__timer {
      padding: 60px;
    }

    &__item {
      span {
        font-size: 20px;
        font-weight: 500;
      }

      h1 {
        font-size: 70px;
        padding: 15px 20px;
        text-shadow: none;
      }
    }

    &__seperator {
      font-size: 60px;
      margin-top: 18px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    &__timer {
      padding: 30px;
    }

    &__item {
      span {
        font-size: 17px;
        padding: 5px 0px;
      }

      h1 {
        font-size: 50px;
        padding: 10px 15px;
      }
    }

    &__seperator {
      font-size: 50px;
      margin-top: 18px;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .container {
    &__timer {
      padding: 15px;
    }

    &__item {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      span {
        font-size: 14px;
        letter-spacing: 0.5px;
        padding: 3px 0px;
      }

      h1 {
        font-size: 30px;
        line-height: 0.5;
        padding: 10px 20px;
      }
    }

    &__seperator {
      display: none;
    }
  }
}
